[submodule "thirdparty/EABase/repo"]
	path = thirdparty/EABase/repo
	url = https://github.com/electronicarts/EABase.git
[submodule "thirdparty/EASTL/repo"]
	path = thirdparty/EASTL/repo
	url = https://github.com/electronicarts/EASTL.git
[submodule "thirdparty/spdlog/repo"]
	path = thirdparty/spdlog/repo
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/wren/repo"]
	path = thirdparty/wren/repo
	url = https://github.com/wren-lang/wren.git
[submodule "thirdparty/argparse/repo"]
	path = thirdparty/argparse/repo
	url = https://github.com/p-ranav/argparse.git
